# Put this file inside the workload project dir.
---
active_provider: openai
providers:
  openai:
    enabled: true
    name: openai
    model: qwen3.8-27b
    host: <your_api_url_here>
    configured: true
extensions:
  developer:
    type: builtin
    name: developer
    enabled: false
    bundled: true